In [93]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import AdaBoostClassifier
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import (accuracy_score,log_loss,confusion_matrix)
import plotly.offline as py
import plotly.graph_objs as go

In [94]:
df=pd.read_csv(r"C:\Users\abc\Downloads\WA_Fn-UseC_-HR-Employee-Attrition.csv")
df.head()

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2

In [95]:
df.isnull().sum()

Age                         0
Attrition                   0
BusinessTravel              0
DailyRate                   0
Department                  0
DistanceFromHome            0
Education                   0
EducationField              0
EmployeeCount               0
EmployeeNumber              0
EnvironmentSatisfaction     0
Gender                      0
HourlyRate                  0
JobInvolvement              0
JobLevel                    0
JobRole                     0
JobSatisfaction             0
MaritalStatus               0
MonthlyIncome               0
MonthlyRate                 0
NumCompaniesWorked          0
Over18                      0
OverTime                    0
PercentSalaryHike           0
PerformanceRating           0
RelationshipSatisfaction    0
StandardHours               0
StockOptionLevel            0
TotalWorkingYears           0
TrainingTimesLastYear       0
WorkLifeBalance             0
YearsAtCompany              0
YearsInCurrentRole          0
YearsSinceLastPromotion     0
YearsWithCurrManager        0
dtype: int64

In [96]:
df_num=df.select_dtypes(include=["int",'float'])

In [97]:
df_obj=df.select_dtypes(include="object")

In [98]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1470 entries, 0 to 1469
Data columns (total 35 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Age                       1470 non-null   int64
 1   Attrition                 1470 non-null   object
 2   BusinessTravel            1470 non-null   object
 3   DailyRate                 1470 non-null   int64
 4   Department                1470 non-null   object
 5   DistanceFromHome          1470 non-null   int64
 6   Education                 1470 non-null   int64
 7   EducationField            1470 non-null   object
 8   EmployeeCount             1470 non-null   int64
 9   EmployeeNumber            1470 non-null   int64
 10  EnvironmentSatisfaction   1470 non-null   int64
 11  Gender                    1470 non-null   object
 12  HourlyRate                1470 non-null   int64
 13  JobInvolvement            1470 non-null   int64
 14  JobLevel                  1470 non-null   int64
 15  JobRole                   1470 non-null   object
 16  JobSatisfaction           1470 non-null   int64
 17  MaritalStatus             1470 non-null   object
 18  MonthlyIncome             1470 non-null   int64
 19  MonthlyRate               1470 non-null   int64
 20  NumCompaniesWorked        1470 non-null   int64
 21  Over18                    1470 non-null   object
 22  OverTime                  1470 non-null   object
 23  PercentSalaryHike         1470 non-null   int64
 24  PerformanceRating         1470 non-null   int64
 25  RelationshipSatisfaction  1470 non-null   int64
 26  StandardHours             1470 non-null   int64
 27  StockOptionLevel          1470 non-null   int64
 28  TotalWorkingYears         1470 non-null   int64
 29  TrainingTimesLastYear     1470 non-null   int64
 30  WorkLifeBalance           1470 non-null   int64
 31  YearsAtCompany            1470 non-null   int64
 32  YearsInCurrentRole        1470 non-null   int64
 33  YearsSinceLastPromotion   1470 non-null   int64
 34  YearsWithCurrManager      1470 non-null   int64
dtypes: int64(26), object(9)
memory usage: 402.1+ KB

In [99]:
df_num.columns

Index(['Age', 'DailyRate', 'DistanceFromHome', 'Education', 'EmployeeCount',
       'EmployeeNumber', 'EnvironmentSatisfaction', 'HourlyRate',
       'JobInvolvement', 'JobLevel', 'JobSatisfaction', 'MonthlyIncome',
       'MonthlyRate', 'NumCompaniesWorked', 'PercentSalaryHike',
       'PerformanceRating', 'RelationshipSatisfaction', 'StandardHours',
       'StockOptionLevel', 'TotalWorkingYears', 'TrainingTimesLastYear',
       'WorkLifeBalance', 'YearsAtCompany', 'YearsInCurrentRole',
       'YearsSinceLastPromotion', 'YearsWithCurrManager'],
      dtype='object')

In [100]:
df_obj.columns

Index(['Attrition', 'BusinessTravel', 'Department', 'EducationField', 'Gender',
       'JobRole', 'MaritalStatus', 'Over18', 'OverTime'],
      dtype='object')

In [101]:
MaritalStatus=pd.get_dummies(df.MaritalStatus,drop_first="True")
BusinessTravel=pd.get_dummies(df.BusinessTravel,drop_first="True")
Department=pd.get_dummies(df.Department,drop_first="True")
Gender=pd.get_dummies(df.Gender,drop_first="True")
JobRole=pd.get_dummies(df.JobRole,drop_first="True")
OverTime=pd.get_dummies(df.OverTime,drop_first="True")
Over18=pd.get_dummies(df.Over18,drop_first="True")
EducationField=pd.get_dummies(df.EducationField,drop_first="True")

In [102]:
df_obj=pd.concat([BusinessTravel,Department,OverTime,Over18,EducationField,JobRole,MaritalStatus,Gender,df_obj],axis=1)

In [103]:
df_obj.drop(['BusinessTravel','Department','EducationField','JobRole','MaritalStatus','Over18','OverTime',"Gender"],axis=1,inplace=True)

In [104]:
df_obj.head()

,Travel_Frequently,Travel_Rarely,Research & Development,Sales,Yes,Life Sciences,Marketing,Medical,Other,Technical Degree,...,Manager,Manufacturing Director,Research Director,Research Scientist,Sales Executive,Sales Representative,Married,Single,Male,Attrition
0,0,1,0,1,1,1,0,0,0,0,...,0,0,0,0,1,0,0,1,0,Yes
1,1,0,1,0,0,1,0,0,0,0,...,0,0,0,1,0,0,1,0,1,No
2,0,1,1,0,1,0,0,0,1,0,...,0,0,0,0,0,0,0,1,1,Yes
3,1,0,1,0,1,1,0,0,0,0,...,0,0,0,1,0,0,1,0,0,No
4,0,1,1,0,0,0,0,1,0,0,...,0,0,0,0,0,0,1,0,1,No

In [105]:
df_obj.drop(['Attrition'],axis=1,inplace=True)

In [106]:
df_final = pd.concat([df_num, df_obj], axis=1)

In [107]:
target_map = {'Yes':1, 'No':0}
# Use the pandas apply method to numerically encode our attrition target variable
target = df["Attrition"].apply(lambda x: target_map[x])
target.head(3)

0    1
1    0
2    1
Name: Attrition, dtype: int64

In [108]:
train, test, target_train, target_test = train_test_split(df_final, target, train_size= 0.75,random_state=0);

In [109]:
import numpy as np 
import pandas as pd 


import plotly.offline as py
py.init_notebook_mode(connected=True)
import plotly.graph_objs as go
import plotly.tools as tls
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline


from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, log_loss


from sklearn.model_selection import train_test_split


# Import and suppress warnings
import warnings
warnings.filterwarnings('ignore')

In [110]:
gb = GradientBoostingClassifier(random_state=100) # default 
gb.get_params()

{'ccp_alpha': 0.0,
 'criterion': 'friedman_mse',
 'init': None,
 'learning_rate': 0.1,
 'loss': 'deviance',
 'max_depth': 3,
 'max_features': None,
 'max_leaf_nodes': None,
 'min_impurity_decrease': 0.0,
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'min_weight_fraction_leaf': 0.0,
 'n_estimators': 100,
 'n_iter_no_change': None,
 'random_state': 100,
 'subsample': 1.0,
 'tol': 0.0001,
 'validation_fraction': 0.1,
 'verbose': 0,
 'warm_start': False}

In [111]:
train

,Age,DailyRate,DistanceFromHome,Education,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,HourlyRate,JobInvolvement,JobLevel,...,Laboratory Technician,Manager,Manufacturing Director,Research Director,Research Scientist,Sales Executive,Sales Representative,Married,Single,Male
944,28,1476,1,3,1,1315,3,55,1,2,...,1,0,0,0,0,0,0,1,0,0
1402,31,1276,2,1,1,1974,4,59,1,1,...,1,0,0,0,0,0,0,0,0,0
1054,49,1490,7,4,1,1484,3,35,3,3,...,0,0,0,0,0,0,0,0,0,1
1128,36,1302,6,4,1,1594,1,80,4,2,...,1,0,0,0,0,0,0,1,0,1
1323,28,280,1,2,1,1858,3,43,3,1,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
763,34,1333,10,4,1,1055,3,87,3,1,...,0,0,0,0,0,0,1,1,0,0
835,35,528,8,4,1,1164,3,100,3,1,...,0,0,0,0,0,0,0,0,1,1
1216,43,1179,2,3,1,1706,4,73,3,2,...,0,0,0,0,0,1,0,1,0,1
559,38,268,2,5,1,773,4,92,3,1,...,0,0,0,0,1,0,0,1,0,1
684,40,658,10,4,1,954,1,67,2,3,...,0,0,0,0,0,1,0,0,0,1

In [112]:
# Fit the model to our train and target
gb.fit(train, target_train)
# Get our predictions
gb_predictions = gb.predict(test)

In [113]:
gb_predictions_prob = gb.predict_proba(test)
gb_predictions_prob

array([[0.93565701, 0.06434299],
       [0.96798638, 0.03201362],
       [0.8747258 , 0.1252742 ],
       [0.95525024, 0.04474976],
       [0.10720351, 0.89279649],
       [0.67487367, 0.32512633],
       [0.59570909, 0.40429091],
       [0.91183264, 0.08816736],
       [0.96662071, 0.03337929],
       [0.90249265, 0.09750735],
       [0.93460885, 0.06539115],
       [0.90269076, 0.09730924],
       [0.9732961 , 0.0267039 ],
       [0.26854533, 0.73145467],
       [0.94012005, 0.05987995],
       [0.98792486, 0.01207514],
       [0.94597233, 0.05402767],
       [0.93071641, 0.06928359],
       [0.93537954, 0.06462046],
       [0.92440318, 0.07559682],
       [0.60995072, 0.39004928],
       [0.95078893, 0.04921107],
       [0.96838558, 0.03161442],
       [0.97980593, 0.02019407],
       [0.41611433, 0.58388567],
       [0.74410279, 0.25589721],
       [0.95968266, 0.04031734],
       [0.97096781, 0.02903219],
       [0.28238165, 0.71761835],
       [0.96050297, 0.03949703],
       [0.96788918, 0.03211082],
       [0.97179163, 0.02820837],
       [0.84067426, 0.15932574],
       [0.94544868, 0.05455132],
       [0.90226687, 0.09773313],
       [0.95400726, 0.04599274],
       [0.94074953, 0.05925047],
       [0.96976661, 0.03023339],
       [0.96377331, 0.03622669],
       [0.89663379, 0.10336621],
       [0.93536679, 0.06463321],
       [0.98332106, 0.01667894],
       [0.98410881, 0.01589119],
       [0.95350657, 0.04649343],
       [0.97974206, 0.02025794],
       [0.34730286, 0.65269714],
       [0.734326  , 0.265674  ],
       [0.98679715, 0.01320285],
       [0.06906253, 0.93093747],
       [0.55981352, 0.44018648],
       [0.89640601, 0.10359399],
       [0.38123614, 0.61876386],
       [0.89958212, 0.10041788],
       [0.94235559, 0.05764441],
       [0.34754774, 0.65245226],
       [0.90899903, 0.09100097],
       [0.98738149, 0.01261851],
       [0.91375204, 0.08624796],
       [0.98264537, 0.01735463],
       [0.52230632, 0.47769368],
       [0.98328889, 0.01671111],
       [0.89068306, 0.10931694],
       [0.7939958 , 0.2060042 ],
       [0.96160037, 0.03839963],
       [0.52431858, 0.47568142],
       [0.9503015 , 0.0496985 ],
       [0.83937298, 0.16062702],
       [0.92139347, 0.07860653],
       [0.93901462, 0.06098538],
       [0.96053499, 0.03946501],
       [0.94615183, 0.05384817],
       [0.64679842, 0.35320158],
       [0.87105711, 0.12894289],
       [0.97454904, 0.02545096],
       [0.92738959, 0.07261041],
       [0.95838134, 0.04161866],
       [0.97174608, 0.02825392],
       [0.95133715, 0.04866285],
       [0.39024856, 0.60975144],
       [0.9904903 , 0.0095097 ],
       [0.98936656, 0.01063344],
       [0.98239587, 0.01760413],
       [0.92623985, 0.07376015],
       [0.91732473, 0.08267527],
       [0.95262634, 0.04737366],
       [0.9415688 , 0.0584312 ],
       [0.97534841, 0.02465159],
       [0.73176455, 0.26823545],
       [0.93280941, 0.06719059],
       [0.9641662 , 0.0358338 ],
       [0.36710753, 0.63289247],
       [0.92399661, 0.07600339],
       [0.91536333, 0.08463667],
       [0.72337756, 0.27662244],
       [0.9812496 , 0.0187504 ],
       [0.97427402, 0.02572598],
       [0.91268371, 0.08731629],
       [0.58076508, 0.41923492],
       [0.9750204 , 0.0249796 ],
       [0.94512062, 0.05487938],
       [0.70844125, 0.29155875],
       [0.57864009, 0.42135991],
       [0.39627141, 0.60372859],
       [0.96413762, 0.03586238],
       [0.96762482, 0.03237518],
       [0.97079132, 0.02920868],
       [0.93032305, 0.06967695],
       [0.60862764, 0.39137236],
       [0.79467937, 0.20532063],
       [0.90655189, 0.09344811],
       [0.6016952 , 0.3983048 ],
       [0.83654554, 0.16345446],
       [0.97530366, 0.02469634],
       [0.97583913, 0.02416087],
       [0.95294397, 0.04705603],
       [0.93197515, 0.06802485],
       [0.93041016, 0.06958984],
       [0.90769537, 0.09230463],
       [0.98557938, 0.01442062],
       [0.98362227, 0.01637773],
       [0.96164286, 0.03835714],
       [0.96982133, 0.03017867],
       [0.96385867, 0.03614133],
       [0.0756317 , 0.9243683 ],
       [0.86954363, 0.13045637],
       [0.97879038, 0.02120962],
       [0.9855657 , 0.0144343 ],
       [0.9119507 , 0.0880493 ],
       [0.92456398, 0.07543602],
       [0.94858026, 0.05141974],
       [0.9872703 , 0.0127297 ],
       [0.47404527, 0.52595473],
       [0.38559002, 0.61440998],
       [0.52259566, 0.47740434],
       [0.87801512, 0.12198488],
       [0.54758814, 0.45241186],
       [0.5725848 , 0.4274152 ],
       [0.94456459, 0.05543541],
       [0.89958406, 0.10041594],
       [0.96160709, 0.03839291],
       [0.97416864, 0.02583136],
       [0.90863907, 0.09136093],
       [0.93883612, 0.06116388],
       [0.88314526, 0.11685474],
       [0.86328253, 0.13671747],
       [0.97114495, 0.02885505],
       [0.85196219, 0.14803781],
       [0.96787343, 0.03212657],
       [0.9403826 , 0.0596174 ],
       [0.9763716 , 0.0236284 ],
       [0.95952635, 0.04047365],
       [0.89956293, 0.10043707],
       [0.93535396, 0.06464604],
       [0.49291552, 0.50708448],
       [0.95151238, 0.04848762],
       [0.87336404, 0.12663596],
       [0.98965756, 0.01034244],
       [0.66373239, 0.33626761],
       [0.95835072, 0.04164928],
       [0.97237048, 0.02762952],
       [0.80268202, 0.19731798],
       [0.98874212, 0.01125788],
       [0.73701232, 0.26298768],
       [0.06669672, 0.93330328],
       [0.97304447, 0.02695553],
       [0.88136404, 0.11863596],
       [0.84825765, 0.15174235],
       [0.97589194, 0.02410806],
       [0.97437554, 0.02562446],
       [0.98202917, 0.01797083],
       [0.95854613, 0.04145387],
       [0.94636793, 0.05363207],
       [0.95741313, 0.04258687],
       [0.75088252, 0.24911748],
       [0.97954369, 0.02045631],
       [0.89784585, 0.10215415],
       [0.94707848, 0.05292152],
       [0.67584464, 0.32415536],
       [0.8703449 , 0.1296551 ],
       [0.92119494, 0.07880506],
       [0.9637236 , 0.0362764 ],
       [0.97599002, 0.02400998],
       [0.98832058, 0.01167942],
       [0.40930337, 0.59069663],
       [0.96781548, 0.03218452],
       [0.98375234, 0.01624766],
       [0.67955053, 0.32044947],
       [0.93801489, 0.06198511],
       [0.93466502, 0.06533498],
       [0.89706691, 0.10293309],
       [0.84354345, 0.15645655],
       [0.43492855, 0.56507145],
       [0.90723306, 0.09276694],
       [0.98643898, 0.01356102],
       [0.96533722, 0.03466278],
       [0.90149835, 0.09850165],
       [0.97055671, 0.02944329],
       [0.96266541, 0.03733459],
       [0.23566383, 0.76433617],
       [0.94441642, 0.05558358],
       [0.81685446, 0.18314554],
       [0.93425195, 0.06574805],
       [0.82814431, 0.17185569],
       [0.97975928, 0.02024072],
       [0.93035   , 0.06965   ],
       [0.87771066, 0.12228934],
       [0.75062483, 0.24937517],
       [0.98257861, 0.01742139],
       [0.93927631, 0.06072369],
       [0.97592144, 0.02407856],
       [0.9458585 , 0.0541415 ],
       [0.96629151, 0.03370849],
       [0.84589703, 0.15410297],
       [0.90637916, 0.09362084],
       [0.96269362, 0.03730638],
       [0.97607113, 0.02392887],
       [0.98028889, 0.01971111],
       [0.89488696, 0.10511304],
       [0.96990472, 0.03009528],
       [0.56555111, 0.43444889],
       [0.67931907, 0.32068093],
       [0.54334932, 0.45665068],
       [0.55543556, 0.44456444],
       [0.64722348, 0.35277652],
       [0.77028917, 0.22971083],
       [0.97308401, 0.02691599],
       [0.9423179 , 0.0576821 ],
       [0.65296202, 0.34703798],
       [0.16542205, 0.83457795],
       [0.92976288, 0.07023712],
       [0.98313253, 0.01686747],
       [0.58095626, 0.41904374],
       [0.96590383, 0.03409617],
       [0.9446239 , 0.0553761 ],
       [0.96543408, 0.03456592],
       [0.61090121, 0.38909879],
       [0.83374997, 0.16625003],
       [0.98739299, 0.01260701],
       [0.88972367, 0.11027633],
       [0.98618656, 0.01381344],
       [0.79412282, 0.20587718],
       [0.80828789, 0.19171211],
       [0.96566286, 0.03433714],
       [0.95749394, 0.04250606],
       [0.90077865, 0.09922135],
       [0.95847997, 0.04152003],
       [0.97360924, 0.02639076],
       [0.70740211, 0.29259789],
       [0.91080278, 0.08919722],
       [0.91445033, 0.08554967],
       [0.90527902, 0.09472098],
       [0.80980869, 0.19019131],
       [0.65201696, 0.34798304],
       [0.95770402, 0.04229598],
       [0.81255845, 0.18744155],
       [0.9094101 , 0.0905899 ],
       [0.9725034 , 0.0274966 ],
       [0.41743531, 0.58256469],
       [0.83519483, 0.16480517],
       [0.47639829, 0.52360171],
       [0.86141498, 0.13858502],
       [0.9637103 , 0.0362897 ],
       [0.91918814, 0.08081186],
       [0.93265125, 0.06734875],
       [0.86471598, 0.13528402],
       [0.77026641, 0.22973359],
       [0.97422721, 0.02577279],
       [0.72280262, 0.27719738],
       [0.88271462, 0.11728538],
       [0.97553946, 0.02446054],
       [0.95224078, 0.04775922],
       [0.9679991 , 0.0320009 ],
       [0.91957768, 0.08042232],
       [0.95500254, 0.04499746],
       [0.97067222, 0.02932778],
       [0.98486846, 0.01513154],
       [0.93458819, 0.06541181],
       [0.77866988, 0.22133012],
       [0.92408587, 0.07591413],
       [0.68265748, 0.31734252],
       [0.77628948, 0.22371052],
       [0.9667577 , 0.0332423 ],
       [0.91257487, 0.08742513],
       [0.80355051, 0.19644949],
       [0.89981858, 0.10018142],
       [0.86615199, 0.13384801],
       [0.9892892 , 0.0107108 ],
       [0.92522834, 0.07477166],
       [0.96782929, 0.03217071],
       [0.97892489, 0.02107511],
       [0.94646886, 0.05353114],
       [0.67063616, 0.32936384],
       [0.96369391, 0.03630609],
       [0.95216665, 0.04783335],
       [0.93055739, 0.06944261],
       [0.97189633, 0.02810367],
       [0.91364384, 0.08635616],
       [0.88100739, 0.11899261],
       [0.02117899, 0.97882101],
       [0.97272128, 0.02727872],
       [0.92115816, 0.07884184],
       [0.90780413, 0.09219587],
       [0.72950427, 0.27049573],
       [0.8951737 , 0.1048263 ],
       [0.97665344, 0.02334656],
       [0.95659654, 0.04340346],
       [0.57242172, 0.42757828],
       [0.91330085, 0.08669915],
       [0.98054014, 0.01945986],
       [0.96919576, 0.03080424],
       [0.81865074, 0.18134926],
       [0.95688637, 0.04311363],
       [0.92797594, 0.07202406],
       [0.95154874, 0.04845126],
       [0.86546377, 0.13453623],
       [0.9248735 , 0.0751265 ],
       [0.87074583, 0.12925417],
       [0.91926061, 0.08073939],
       [0.65740748, 0.34259252],
       [0.95915564, 0.04084436],
       [0.46976691, 0.53023309],
       [0.96773721, 0.03226279],
       [0.8891206 , 0.1108794 ],
       [0.80946892, 0.19053108],
       [0.95917778, 0.04082222],
       [0.97471494, 0.02528506],
       [0.75506241, 0.24493759],
       [0.77249679, 0.22750321],
       [0.98942762, 0.01057238],
       [0.96029681, 0.03970319],
       [0.9613668 , 0.0386332 ],
       [0.84705065, 0.15294935],
       [0.88180324, 0.11819676],
       [0.1788453 , 0.8211547 ],
       [0.7830227 , 0.2169773 ],
       [0.8338199 , 0.1661801 ],
       [0.94148827, 0.05851173],
       [0.97666987, 0.02333013],
       [0.9729796 , 0.0270204 ],
       [0.93972698, 0.06027302],
       [0.8799975 , 0.1200025 ],
       [0.5158928 , 0.4841072 ],
       [0.92327597, 0.07672403],
       [0.92408396, 0.07591604],
       [0.92874476, 0.07125524],
       [0.94676555, 0.05323445],
       [0.95032097, 0.04967903],
       [0.62347815, 0.37652185],
       [0.96256745, 0.03743255],
       [0.73724028, 0.26275972],
       [0.98616628, 0.01383372],
       [0.87827909, 0.12172091],
       [0.95115068, 0.04884932],
       [0.93096409, 0.06903591],
       [0.94330826, 0.05669174],
       [0.96493713, 0.03506287],
       [0.97654677, 0.02345323],
       [0.95164362, 0.04835638],
       [0.97444394, 0.02555606],
       [0.55539781, 0.44460219],
       [0.98697199, 0.01302801],
       [0.97270227, 0.02729773],
       [0.95231731, 0.04768269],
       [0.93926764, 0.06073236],
       [0.95959262, 0.04040738],
       [0.89693904, 0.10306096],
       [0.96830878, 0.03169122],
       [0.71768736, 0.28231264]])

In [114]:
gb_predictions.shape

(368,)

In [115]:
gb_predictions_prob.shape

(368, 2)

In [116]:
accuracy_score(target_test, gb_predictions)

0.8885869565217391